@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content

        <h1>Bienvenue dans le burger quiz !</h1>

        <strong>Bigmac</strong>
        <form name="quizz" method="post" action="/" class="quizz">
        	<input type="checkbox" name="burger" value="Fromage"/> <label>Fromage</label></br>
        	<input type="checkbox" name="burger" value="Tomate"/> <label>Tomate</label></br>
        	<input type="checkbox" name="burger" value="Steak"/> <label>Steak</label></br>
        	<input type="checkbox" name="burger" value="Salade"/> <label>Salade</label></br>
        	<input type="checkbox" name="burger" value="Oignon"/> <label>Oignon</label></br>
        	<input type="checkbox" name="burger" value="Mayonnaise"/> <label>Mayonnaise</label></br>
        	<input type="checkbox" name="burger" value="Ketchup"/> <label>Ketchup</label></br>
        	<input type="checkbox" name="burger" value="Sauce BBQ"/> <label>Sauce BBQ</label></br>
        	<input type="checkbox" name="burger" value="Sauce blanche"/> <label>Sauce blanche</label></br>
        	<input type="checkbox" name="burger" value="Cornichon"/> <label>Cornichon</label></br>

        	<input type="submit" value="Tester" id="testBurger"/>


        </form>

    </body>
</html>
